@font-face {
    font-family: Comic;
    src: url(./comic.ttf);
}

.asia-header {
    font-family: Comic;
}

body {
    background: url(./img/black-background.jpg);
    background-size: cover;
}

p, ul, header {
    color: blanchedalmond;
}

header {
    margin-left: 25px;
}

ul {
    display: flex;
    text-align: center;
    list-style-type: none;
}

.asia-location {
    margin-left: 30px;
   border: 3px solid rgb(255, 255, 255);
    box-shadow: inset 0 0 45px black;
}

.asia-location::after {
    flex-wrap: wrap;
    flex-direction: row;
}

.copyright-text {
    text-align: center;
    font-size: 15px;
    margin-bottom: 0;
}

figcaption {
    font-size: 20px;
}

.globus::before {
    font-family: FontAwesome;
    content: "\f0ac";
}

span {
    font-size: 30px;
}

p {
    font-size: 15px;
}

section {
    margin-left: 50px;
    margin-top: 40px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.contact {
    flex-direction: column;
    align-items: flex-start;
}
