.bloom-1 {
    color: red;
}
.bloom-2 {
    color: green;
}
.bloom-3 {
    color: blue;
}
.bloom-1, .bloom-2, .bloom-3 {
    font-size: 20px;
}
strong {
    font-weight: bold;
    font-style: italic;
}