@font-face {
    font-family: "Alpha";
    src: url(./fonts/alpha_echo.ttf);
}

.log {
    font-family: Alpha;
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

body {
    margin: 0;
    background-color: rgb(206, 206, 206);
}

.main-nav-and-log {
    max-width: 100%;
    display: block;
   
}

.main-nav-list {
    display: flex;
    margin: 0 auto;
}

