@font-face {
  font-family: Roboto-Regular;
  src: url(./Roboto-Regular.ttf);
}

.page-form {
  max-width: 750px;
  margin: 0 auto;
  border: 2px solid gray;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Roboto-Regular";
  font-size: 25px;
}
  
.page-form__headling {
  color: white;
  padding: 10px 0;
  margin-bottom: 20px;
  margin-top: 0px;
  background-color: rgb(44, 164, 113);
  display: block;
  text-align: center;
}

.page-form__label-text, .page-form__label-text-position {
  padding-top: 20px;
}

.page-form__label, .page-form__label-text-position, .page-form__button { 
  padding-left: 40px;
  display: block;
  padding-top: 15px;
}

.page-form__input, .page-form__option, .button {
  width: 90%;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 0.3em;
  padding-left: 10px;
  height: 40px;
  font-size: 20px;
}

.page-form__input:focus {
  outline: none;
  border: 1px solid rgb(137, 202, 228);
  box-shadow: 0 0 2px 2px rgb(137, 202, 228);
}

.page-form__button {
  padding-bottom: 30px;
}

.button {
  background-color: rgb(108, 187, 132);
  text-align: center;
  color: white;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
}

.button:focus {
  background-color: rgb(145, 250, 177);
}

.button:hover {
  background-color: rgb(79, 131, 95);
}

.page-form__radio:focus {
border-color: navy;
outline: none;
}

.page-form__radio:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.page-form__option {
  color: gray;
}

option {
  color: black;
}

.radio-input {
  display: none;
}

.radio-text {
position: relative;
display: inline-block;
width: 15px; height: 15px; 
background: #F5F5F5; 
border-radius: 50%;
box-shadow: inset 0 0 5px rgba(0,0,0,0.5); 
}

.radio-input:checked + .radio-text { 
background: #5132ff;
box-shadow: 0 0 10px rgba(59, 144, 255, 0.5)
}

.radio-input:checked + .radio-text::before { 
content: '';
position: absolute;
left: 4px; top: 4px;
background: #fff;
width: 7px; height: 7px;
border-radius: 50%;
}

.page-form__radio {
  padding-left: 40px;  
}

.page-form-email {
  padding-bottom: 10px;
}